<section>
  <div class="wrapper testemonials-container">
    <div class="event-speakers flex-item">
      <h3 class="landing-title text-align-center">O que falam do BarrigaCrescente</h3>
    </div>
    <ul class="testemonials-item-content">
      <li class="testemonials-item">
        <div class="icon icon-quotes"></div>
        <div class="testemonials-item-testemonial">
          tudo sempre tem uma coesão né? sustentabilidade e ambiente confortável, relaxante... a natureza como ela é. parabéns à barriga crescente, que não para de evoluir!
        </div>
        <div class="testemonials-item-figure">
          <img src="/img/testemonials/4313pri.jpg" alt="">
        </div>
        <br />
        <div class="testemonials-item-name">
          Prici La Guedes
        </div>
      </li>

      <li class="testemonials-item">
        <div class="icon icon-quotes"></div>
        <div class="testemonials-item-testemonial">
          Meninas, vcs são demais. Parabéns pelo sucesso do último encontro, foi muito bom reencontrar vcs, as outras mães, e ainda ouvir muita coisa boa sobre como cuidar dos nossos pequeninos
        </div>
        <div class="testemonials-item-figure">
          <img src="/img/testemonials/21aana.jpg" alt="">
        </div>
        <br />
        <div class="testemonials-item-name">
          Ana Paola
        </div>
      </li>

      <li class="testemonials-item">
        <div class="icon icon-quotes"></div>
        <div class="testemonials-item-testemonial">
          Delícia de evento! 🙏
        </div>
        <div class="testemonials-item-figure">
          <img src="/img/testemonials/jov2a82981.jpg" alt="">
          <br />
        </div>
        <div class="testemonials-item-name">
          Jovana
        </div>
      </li>
    </ul>
  </div>
</section>
