<section class="gradient-default fullscreen-no-flex">
  <div class="wrapper event-previous-editions-title">
    <h3 class="landing-title">
      Encontros anteriores
    </h3>
  </div>
  <div class="wrapper event-previous-editions flex-content">
    <ul>
      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            Pinheiros, SP
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/sp_pinheiros.png" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            São Paulo
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/sp1.jpg" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            Praça Victor Civita
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/bc_na_praca.jpg" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            Ong Florecer, SP
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/ong_florecer_sp.jpg" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            Mammy To Be, SP
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/mammy_to_be_sp.jpg" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            São Paulo
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/sp2.jpg" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            Vila Mariana, SP
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/sp_3.jpg" alt="">
      </li>

      <li class="flex-item previous-editions-item">
        <div class="previous-editions-item-info">
          <div class="icon icon-location"></div>
          <div class="previous-editions-item-info-city">
            Novo Hamburgo, RS
          </div>
        </div>
        <img style="background:cover;" src="/img/previous_editions/Novo_Hamburgo_2018.jpg" alt="">
      </li>

      <br><br><br>

      <div class="text-align-center">
        <i>Quando se está tranquila, coisas incríveis acontecem.</i>
      </div>
    </ul>
  </div>
</section>
