<div id="form_content">
  <h3 class="landing-title landing-title-bc-infos">
    Faça sua inscrição e participe
  </h3>
  <p>

  </p>
  <script type="text/javascript">
    var submitted=false;
  </script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {$('#form_content').hide(); $('#thankyou').fadeIn('fast'); $('#thankyou').focus();}"></iframe>
  <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLScQWLMJv8DWU3_zUl-BOQ5yOS_Bl93Qj5OG40gRyi46tM8qwQ/formResponse" target="hidden_iframe" method="POST" id="mG61Hd" onsubmit="submitted=true;">

    <label>Nome</label>
    <input name="entry.1739233732" id="entry_1739233732" type="text" required />

    <label>Semana de gestação</label>
    <input name="entry.478972796" id="entry_478972796" type="text" />

    <label>Sexo do bebê</label>
    <select class="" name="entry.985722992" id="entry_985722992">
      <option role="option" value="Menina">Menina</option>
      <option role="option" value="Menino">Menino</option>
      <option role="option" value="Ainda não sei">Ainda não sei</option>
    </select>

    <label>É a sua primeira gestação?</label>
    <select class="" name="entry.1788886102" id="entry_1788886102">
      <option role="option" value="Sim">Sim</option>
      <option role="option" value="Não">Não</option>
    </select>

    <label>Email *</label>
    <input name="entry.905017135" id="entry_905017135" type="email" required />

    <label>Telefone</label>
    <input name="entry.1112959159" id="entry_1112959159" type="tel" />

    <input type="submit" id="ss-submit" class="btn" value="Enviar inscrição" />
    <br>
    <small class="text-align-center">
      Vagas limitadas
    </small>
  </form>

</div>
<div id="thankyou" style="display:none;">
  <p>
    Vocês está inscrita,
    <br>
    logo entraremos em contato no seu e-mail :)
  </p>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("entry_1739233732, #entry_478972796, #entry_985722992, entry_905017135, entry_1112959159").change(function() {
      var $this = $(this);
    });

    $('#ss-submit').click(function() {
      console.log("clicked");
      var inpu = $(".exportInput").val();
      if (inpu == '') {
        alert("Ops, todos os campos foram preenchidos?");
        return false;
      } else {
        return true;
      }
    });
  });
</script>
