@media only screen and (max-width:720px){
  .grid-50,
  input {
    width: 100%;
  }
  .landing-title,
  .header-calendar-date{
    font-size: 2em;
  }
  .event-previous-editions-title {
    padding-top: 20px !important;
    margin-top: 0px !important;
  }
  .flex-item-bg {
    margin: 0 0 20px 0 !important;
    padding: 25px;
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.11);
    min-height: auto !important;
  }
  .fullscreen-no-flex {
    height: auto;
    padding-bottom: 20px;
  }
  .site-header {
    background: #fff;
    height: auto;
  }
  .flex-content {
    flex-direction: column;
  }
  .wrapper {
    margin: 40px 0;
    padding: 0 20px;
  }
  .event-subscription-form {
    margin-left: -10px;
  }
  .btn, a.btn, button {
    padding: 20px 15px !important;
  }
  .header {
    padding: 0 10px;
  }
  .header-calendar-content {
    margin-top: 0;
    border-bottom: 5px dotted #9C9CDD;
    padding-bottom: 70px;
  }
  .header-calendar-content-icon {
    margin-bottom: 20px;
  }
  .logo {
    margin: 0 auto;
    display: block;
  }
  .icon-heart-purple-speaker {
    left: 40%;
  }
  .event-content {
    padding: 0;
  }
  .event-project-image {
    width: 80%;
  }
  .event-project-image img {
    width: 238px;
    margin: 30px auto 0 auto;
  }
  .previous-editions-item-info-city {
    font-size: 0.7em;
  }
  .icon-location {
    background-position: 0 -83px;
    width: 20px;
    height: 20px;
  }
  .previous-editions-item {
    width: 48%;
    height: 200px;
  }
  .event-subscription-image {
    display: none;
  }
  .event-speakers-item {
    width: 100%;
    flex-basis: center;
    height: 290px;
  }
  .event-speakers-item-info {
    font-size: 1em;
  }
  .landing-title-bc-infos {
    font-size: 2em;
  }
  .testemonials-item {
    max-width: 100%;
    width: 100%;
    margin: 5px;
  }
  .sponsor-support {
    text-align: center;
  }
  .sponsor-support-img {
    margin: 0 auto;
  }
  .footer-navegation,
  .footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  .footer {
    padding: 40px 0 80px 0 !important;
  }
  .footer-navegation {
    margin-bottom: -45px;
  }
  .event-speakers-item-info, .previous-editions-item-info {
    background: #fff;
    padding: 5px;
    position: relative;
    display: inline-block;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    min-height: 70px;
  }
  .previous-editions-item {
    margin-bottom: 20px;
  }
}
