/* Typography */
::-moz-selection{
  color:#fff;
  background: #B09263;
}
::selection {
  color:#fff;
  background: #B09263;
}
html, .root {
  font-size: 16px;
  line-height: 21px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #464646;
}
/* #headline */
.landing-title {
  color: #9C9CDD;
  letter-spacing: -0.93px;
  font-size: 2.625em;
  line-height: 1em;
}
.gradient-default h3 {
  color: #fff;
}

.section-title{
  margin-bottom: 5px;
}
