{% include head.html %}
  <body>
    <header class="site-header">
      <div class="header">
        <a class="logo" href="#"></a>
        <div class="flex-content">


          <div class="header-content header-calendar-content flex-content">
            <!-- <div class="header-calendar-content-icon">
              <div class="icon icon-calendar"></div>
            </div> -->

            <div class="flex-item flex-item-bg">

                <div class="header-calendar-label">
                  12 de Novembro
                </div>
                <div class="header-calendar-date">
                  Palestra Aberta
                </div>
                <div class="header-calendar-place">
                  Saúde integral na gestação
                  <br />
                  <!-- Zape Reequilíbrio - Av. Dr. Maurício Cardoso, 1904 » <a href="https://www.google.com/maps/dir/-29.6871499,-51.1217402/Av.+Dr.+Maur%C3%ADcio+Cardoso,+1904+-+Hamburgo+Velho,+Novo+Hamburgo+-+RS,+93548-350" target="_blank" class="header-calendar-map-location">Ver no mapa</a> -->
                </div>
                <br /><br />
                <p>
                  <a class="btn btn-header btn-subscription" href="https://docs.google.com/forms/d/e/1FAIpQLScLNK2UZNKAmhykKlh-23TWVM9kQb1-9aEfS_sD9EVO1GnYvA/viewform?usp=sf_link" target="_blank">
                    Inscrições e informações
                  </a>
                </p>

              </div><!-- flex item end -->




            <div class="header-calendar-content-infos flex-item flex-item-bg">
              <div class="header-calendar-label">
                19 de Novembro
              </div>
              <div class="header-calendar-date">
                Grupo BarrigaCrescente
              </div>
              <div class="header-calendar-place">
                5 encontros especiais para você vivenciar uma maternidade ativa
                <br /><br />

                <p>
                  <a class="btn btn-header btn-subscription" href="#event-subscription-container">
                    Saber mais e inscrição
                  </a>
                  <br><br>
                  <span>Vagas limitadas</span>
                </p>

              </div>

            </div>
            <!--  -->



        </div>
      </div>
    </header>
    <section id="event-subscription-container" class="gradient-secundary">
      {{ content }}
      <div class="wrapper event-subscription-container flex-content">
        <div class="event-subscription-image flex-item">
          <img src="img/subscription-image.png" style="max-width:312px;" alt="">
        </div>
        <div class="event-subscription-form flex-item">
          <h3 class="landing-title" style="margin-top:0;margin-bottom: 10px;">
            Grupo BarrigaCrescente
          </h3>

          <p>
            Grupo de gestantes com encontros semanais de 2 horas, para mulheres que desejam vivenciar o lado sutil da gestação e explorar na prática os caminhos da maternidade ativa.
          </p>

          <p>
            <h3 class="section-title">
              Você vai ver temas como
            </h3>
            <ul class="ul-list">
              <li>
                ● Cuidados naturais para desconfortos na gestação
              </li>
              <li>
                ● O que esperar de cada tipo de parto
              </li>
              <li>
                ● Pós parto contemporâneo - mitos e verdade
              </li>
              <li>
                ● Importância da intuição e como acessa-lá
              </li>
              <li>
                ● Maternidade x carreira profissiona
              </li>
              <li>
                ● Dinâmicas e muita troca de experiência
              </li>
            </ul>
          </p>

          <p>
            <h3 class="section-title">
              Quando
            </h3>
            De 19/11 a 17/12 (terças-feiras)
          </p>

          <p>
            <h3 class="section-title">
              Inscrição
            </h3>
            Valor para todos os encontros: R$ 290,00
            <br>
            Após as inscrição você recebe um email com todos os detalhes para o pagamento :)
          </p>

          <br>
          <h3 class="landing-title" style="margin-top:0;margin-bottom: 10px;">
            Faça sua inscrição
          </h3>

          {% include form_inscricao_grupo.html %}

          <p style="font-size:0.8em;">
            <br>
            Mais informações?
            <br>
            <a href="mailto:eventobarrigacrescente@gmail.com">
            eventobarrigacrescente@gmail.com
            </a>
          </p>
        </div>
      </div>
    </section>

    <section class="fullscreen">
      <div class="wrapper event-project-infos-conteiner flex-content">
        <div class="event-project-infos flex-item">
          <h3 class="landing-title landing-title-bc-infos">
            O que é o
            <br />
            BarrigaCrescente
          </h3>
          <p>
            Projeto desenvolvido pelas irmãs Bibiana e Mariana Schmidt que busca oferecer apoio físico, psicológico e emocional em promoção de uma mulher empoderada, um parto respeitoso e uma maternidade ativa. Já ofereceu na cidades de São Paulo, Santos e Novo Hamburgo mais de 10 encontros itinerantes com participação de diversos profissionais para orientação e realização de dinâmicas junto às gestantes.
          </p>
        </div>
        <div class="event-project-image flex-item">
          <img src="img/logo-bc-infos.png" style="max-width:318px;" align="right" alt="">
        </div>
      </div>
    </section>
    <section class="gradient-default fullscreen-no-flex">
      <div class="wrapper event-previous-editions-title">
        <h3 class="landing-title">
          Encontros anteriores
        </h3>
      </div>
      <div class="wrapper event-previous-editions flex-content">
        <ul>
          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                Pinheiros, SP
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/sp_pinheiros.png" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                São Paulo
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/sp1.jpg" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                Praça Victor Civita
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/bc_na_praca.jpg" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                Ong Florecer, SP
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/ong_florecer_sp.jpg" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                Mammy To Be, SP
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/mammy_to_be_sp.jpg" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                São Paulo
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/sp2.jpg" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                Vila Mariana, SP
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/sp_3.jpg" alt="">
          </li>

          <li class="flex-item previous-editions-item">
            <div class="previous-editions-item-info">
              <div class="icon icon-location"></div>
              <div class="previous-editions-item-info-city">
                Novo Hamburgo, RS
              </div>
            </div>
            <img style="background:cover;" src="/img/previous_editions/Novo_Hamburgo_2018.jpg" alt="">
          </li>

          <br><br><br>

          <div class="text-align-center">
            <i>Quando se está tranquila, coisas incríveis acontecem.</i>
          </div>
        </ul>
      </div>
    </section>
    <section>
      <div class="wrapper testemonials-container">
        <div class="event-speakers flex-item">
          <h3 class="landing-title text-align-center">O que falam do BarrigaCrescente</h3>
        </div>
        <ul class="testemonials-item-content">
          <li class="testemonials-item">
            <div class="icon icon-quotes"></div>
            <div class="testemonials-item-testemonial">
              tudo sempre tem uma coesão né? sustentabilidade e ambiente confortável, relaxante... a natureza como ela é. parabéns à barriga crescente, que não para de evoluir!
            </div>
            <div class="testemonials-item-figure">
              <img src="/img/testemonials/4313pri.jpg" alt="">
            </div>
            <br />
            <div class="testemonials-item-name">
              Prici La Guedes
            </div>
          </li>

          <li class="testemonials-item">
            <div class="icon icon-quotes"></div>
            <div class="testemonials-item-testemonial">
              Meninas, vcs são demais. Parabéns pelo sucesso do último encontro, foi muito bom reencontrar vcs, as outras mães, e ainda ouvir muita coisa boa sobre como cuidar dos nossos pequeninos
            </div>
            <div class="testemonials-item-figure">
              <img src="/img/testemonials/21aana.jpg" alt="">
            </div>
            <br />
            <div class="testemonials-item-name">
              Ana Paola
            </div>
          </li>

          <li class="testemonials-item">
            <div class="icon icon-quotes"></div>
            <div class="testemonials-item-testemonial">
              Delícia de evento! 🙏
            </div>
            <div class="testemonials-item-figure">
              <img src="/img/testemonials/jov2a82981.jpg" alt="">
              <br />
            </div>
            <div class="testemonials-item-name">
              Jovana
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="wrapper cta-container">
        <br><br>
        <p class="cta-container-title">
          <a class="btn btn-subscription" href="#event-subscription-container">
            Faça sua inscrição
          </a>
        </p>
      </div>
    </section>
    <iframe src="" id="no-target" name="no-target" style="visibility:hidden"></iframe>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){

      });
    </script>
  </body>
</html>
