{% include head.html %}
  <body>
    <header class="site-header">
      <div class="header">
        <a class="logo" href="#"></a>
        <div class="flex-content">


          <div class="header-content header-calendar-content flex-content">
            <!-- <div class="header-calendar-content-icon">
              <div class="icon icon-calendar"></div>
            </div> -->

            <div class="flex-item flex-item-bg">

                <div class="header-calendar-label">
                  12 de Novembro
                </div>
                <div class="header-calendar-date">
                  Palestra Aberta
                </div>
                <div class="header-calendar-place">
                  Saúde Integral na Gestação
                  <br />
                  <!-- Zape Reequilíbrio - Av. Dr. Maurício Cardoso, 1904 » <a href="https://www.google.com/maps/dir/-29.6871499,-51.1217402/Av.+Dr.+Maur%C3%ADcio+Cardoso,+1904+-+Hamburgo+Velho,+Novo+Hamburgo+-+RS,+93548-350" target="_blank" class="header-calendar-map-location">Ver no mapa</a> -->
                </div>
                <br /><br />
                <p>
                  <a class="btn btn-header btn-subscription" href="https://docs.google.com/forms/d/e/1FAIpQLScLNK2UZNKAmhykKlh-23TWVM9kQb1-9aEfS_sD9EVO1GnYvA/viewform?usp=sf_link" target="_blank">
                    Inscrições e informações
                  </a>
                </p>

              </div><!-- flex item end -->




            <div class="header-calendar-content-infos flex-item flex-item-bg">
              <div class="header-calendar-label">
                19 de Novembro
              </div>
              <div class="header-calendar-date">
                Grupo BarrigaCrescente
              </div>
              <div class="header-calendar-place">
                Encontros especiais para você cuidar de si e vivenciar lado sutil da gestação
                <br /><br />

                <p>
                  <a class="btn btn-header btn-subscription" href="#event-subscription-container">
                    Inscreva-se / Vagas limitadas
                  </a>
                </p>

              </div>

            </div>
            <!--  -->



        </div>
      </div>
    </header>

    <section class="fullscreen">
      <div class="wrapper event-project-infos-conteiner flex-content">
        <div class="event-project-infos flex-item">
          <h3 class="landing-title landing-title-bc-infos">
            O que é o
            <br />
            BarrigaCrescente
          </h3>
          <p>
            Projeto desenvolvido pelas irmãs Bibiana e Mariana Schmidt que busca oferecer apoio físico, psicológico e emocional em promoção de uma mulher empoderada, um parto respeitoso e uma maternidade ativa. Já ofereceu na cidades de São Paulo, Santos e Novo Hamburgo mais de 10 encontros itinerantes com participação de diversos profissionais para orientação e realização de dinâmicas junto às gestantes.
          </p>
        </div>
        <div class="event-project-image flex-item">
          <img src="img/logo-bc-infos.png" style="max-width:318px;" align="right" alt="">
        </div>
      </div>
    </section>

    <section id="event-subscription-container" class="gradient-secundary">
      {{ content }}
      <div class="wrapper event-subscription-container flex-content">
        <!-- <div class="event-subscription-image flex-item">
          <img src="img/subscription-image.png" style="max-width:312px;" alt="">
        </div> -->
        <div class="event-subscription-form flex-item">
          <h3 class="landing-title" style="margin-top:0;margin-bottom: 10px;">
            Grupo BarrigaCrescente
          </h3>

          <p>
            Grupo de gestantes com encontros semanais de 2 horas, para mulheres que desejam vivenciar o lado sutil da gestação e explorar na prática os caminhos da maternidade ativa.
          </p>

          <p>
            <h3 class="section-title">
              Você vai ver temas como
            </h3>
            <ul class="ul-list">
              <li>
                ● Cuidados naturais para desconfortos na gestação
              </li>
              <li>
                ● O que esperar de cada tipo de parto
              </li>
              <li>
                ● Pós parto contemporâneo - mitos e verdade
              </li>
              <li>
                ● Importância da intuição e como acessa-lá
              </li>
              <li>
                ● Maternidade x carreira profissiona
              </li>
              <li>
                ● Dinâmicas e muita troca de experiência
              </li>
            </ul>
          </p>

          <p>
            <h3 class="section-title">
              Quando
            </h3>
            De 19/11 a 17/12 (terças-feiras)
          </p>

          <p>
            <h3 class="section-title">
              Inscrição
            </h3>
            Valor para todos os encontros: R$ 290,00
            <br>
            Após as inscrição você recebe um email com todos os detalhes para o pagamento :)
          </p>

          <br>
          <h3 class="landing-title" style="margin-top:0;margin-bottom: 10px;">
            Faça sua inscrição
          </h3>

            {% include form_inscricao_grupo.html %}

          <div>

            <p style="font-size:0.8em;">
              <br>
              Mais informações?
              <br>
              <a href="mailto:eventobarrigacrescente@gmail.com">
              eventobarrigacrescente@gmail.com
              </a>
            </p>


            <h3 class="landing-title" style="margin-top:80px;margin-bottom: 10px;">
              Por que um Grupo?
            </h3>
            <p>
              Com a experiência e feedback dos outros eventos itinerantes do BarrigaCrescente percebemos a necessidade das gestantes e profissionais de criar um grupo fechado para aprofundar as vivências, incentivando a troca de experiências pessoais e união entre os participantes. Assim esperamos que este formato de grupo realize o desejo de todos, que buscam por um parto respeitoso e uma mulher ativa frente ao seu processo de maternação.
            </p>


            <p>
              <h3 class="section-title">
                Vagas limitadas
              </h3>
              Para dar maior intimidade ao grupo limitamos as vagas nesta edição, permanecendo o grupo fechado durante os 5 encontros de 2019.
            </p>

            <p>
              <h3 class="section-title">
                Por que participar?
              </h3>
              Esta é sua chance de participar de um grupo de mulheres focado no resgate do lado sutil da gestação. Através de dinâmicas proposta pela naturóloga e doula Mariana Schmidt e seus convidados, você entrará em contato com os mais variados assuntos que permeiam a gestação, parto, pós parto, educação infantil e saúde da mulher. Terá junto ao grupo momentos especiais para refletir sobre o seu processo e se como preparar para tudo que está por vir. Garanta sua vaga aqui.
            </p>

            <p>
              <h3 class="section-title">
                Quem é Mariana Schmidt
              </h3>
              Naturóloga formada pela Universidade de Sul de Santa Catarina (Unisul) focada ao atendimento da mulher, no acompanhamento da gestação, parto e pós parto. É Doula formada pelo Grupo de Apoio à Maternidade Ativa - GAMA/SP e Sócia-fundadora do BarrigaCrescente. Em sua trajetória já realizou atendimentos às gestantes da ala de alto-risco da Maternidade Carmela Dutra - Florianópolis/SC, atendimentos dentro Projeto Amanhecer do Hospital Universitário (HU) da Universidade Federal de Santa Catarina (UFSC) - Florianópolis/SC além de preparação para partos domiciliares e cesárias humanizadas. Agora retorna a sua cidade natal com atendimentos a gestantes na clínica Zape Reequilíbrio - NH/RS e mais uma edição do BarrigaCrescente.
            </p>
            <div class="wrapper cta-container">
              <br><br>
              <p class="cta-container-title">
                <a class="btn btn-subscription" href="#event-subscription-container">
                  Increva-se neste grupo
                </a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

    {% include encontros_anteriores.html %}

    {% include barrigaCrescente_na_midia.html %}


    <section>
      <div class="wrapper cta-container">
        <br><br>
        <p class="cta-container-title">
          <a class="btn btn-subscription" href="#event-subscription-container">
            Increva-se no Grupo de gestantes
          </a>
        </p>
      </div>
    </section>
    <iframe src="" id="no-target" name="no-target" style="visibility:hidden"></iframe>
    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){

      });
    </script>
  </body>
</html>
